.post-body {
    max-width: 600px;
    padding: 0 20px;
    margin-top: 2rem;
}

.post-body img {
    border-radius: .25rem!important;
    margin-bottom: .5rem;
}

.post-body figcaption {
    font-size: 80%;
    color: #6c757d;
    margin: .5rem 0;
}