@media (max-width: 727.98px) {
    .post-body {
        margin: 2.175rem 1.2rem;
    }
}

@media (max-width: 903.98px) and (min-width: 728px) {
    .post-body {
        margin: 2.175rem 2.4rem;
    }
}

@media (min-width: 904px) {
    .post-body {
        margin: 2.175rem 3.2rem;
    }
}

.post-body {
    max-width: 680px;
}

.post-body img {
    border-radius: .25rem;
}

.post-body figcaption {
    font-size: 80%;
    color: #6c757d;
    margin: 0.5rem 0 1.45rem 0;
}