.about-me {
    background-color: #343A40;
    margin: 5rem 0 0 0;
}

.about-me-code {
    font-family: 'Consolas';
    color: #C8C8C8;
    margin-bottom: 2rem;
}

.about-me-code p {
    margin-bottom: 0;
    font-size: 1rem;
}

/* on larger screens (md) make the code 
    font size larger to fill the space */
@media (min-width: 768px) {
    .about-me-code p {
        font-size: 1.5vw;
    }
}

.mugshot {
    width: 100px;
    position: relative;
    top: -50px;
    left: calc(50% - 50px);
    border: 4px solid #fff;
    border-radius: 50px;
}

.class {
    color: #4EC9B0;
}

.new {
    color: #569CD6;
}

.string {
    color: #D69D85;
}

.comment {
    color: #57a64a;
}