.badges {
    margin-bottom: 3rem;
}

.badge-col {
    text-align: center;
}

.badge-image {
    margin-left: auto;
    margin-right: auto;
    width: 204px;
}

/* chrome black and white emoji bug fix */
span {
    font-weight: 100;
}