/* hide name in main menu at md breakpoint 
 and align menu items to the left */
@media (max-width: 767px) {
    .menu-name {
        display: none;
    }

    .menu-link {
        margin-left: 0!important;
    }
}

.menu-name {
    text-transform: uppercase;
    padding-top: 0.8rem;
    padding-bottom: 0;
}

.menu-name a {
    color: #2f2f2f!important;
}

.menu-link {
    color: #1ca086!important;
    opacity: 1!important;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1rem;
}

.menu-link:hover {
    color: #0056b3!important;
    text-decoration: underline!important;
}