.menu-name {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-name a {
    background-image: none;
    color: #2f2f2f!important;
}

.menu-link {
    color: #2f2f2f!important;
    background-image: none;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1.2rem;
    padding-bottom: 0;
}