@media (max-width: 727.98px) {
    .project-meta {
        margin: 0 1.2rem;
    }
}

@media (max-width: 903.98px) and (min-width: 728px) {
    .project-meta {
        margin: 0 2.4rem;
    }
}

@media (min-width: 904px) {
    .project-meta {
        margin: 0 3.2rem;
    }
}

/* put metadata elements on separate lines on 
smaller screens otherwise it looks cramped when wrapped */
@media (max-width: 727.98px) {
    .metadata-emoji {
        display: block;
        margin: 1rem 0;
    }

    /* hide the separator glyph as it's no longer needed */
    .metadata-separator {
        display: none;
    }
}

.project-header {
    height: 80vh;
}

.project-meta {
    text-align: justify;
    position: absolute;
    bottom: 0;
    color: #fff;
    // display: inline-block;
}

.project-meta-list {
    list-style-type: none;
}

.project-meta h1,
.project-meta h4,
.project-meta p {
    color: #fff;
    text-shadow: 0 0 50px hsla(0, 0%, 0%, 0.6);
}