.project-header {
    height: 80vh;
}

.project-meta {
    text-align: justify;
    position: absolute;
    bottom: 0;
    color: #fff;
    display: inline-block;
    padding: 0 0 0 1rem;
}

.project-meta h1 {
    color: #fff;
}